{% extends "base.html" %}
{% block content%}
<br>
<form>
    <input name="search" class="form-control" placeholder="Поиск по названию" value="{{request.GET.search}}">
    <br>
    <button class="btn btn-primary"> поиск</button>
</form>
<br>
<table class="table table-hover ">
    <thead>
        <tr>
            <th> Ф.И.О. </th>
            <th> Должность </th>
            <th> E-mail </th>
            <th> Телефон </th>
        </tr>
    </thead>
    <tbody>
        {% for work in worker_list%}
        <tr> 
            <td><a href="worker/{{work.id}}">{{work.name}}</a></td>
            <td>{{work.get_position_display}}</td>
            <td>{{work.email}}</td>
            <td>{{work.telephone}}</td>
        </tr>
        {%endfor%}

    </tbody>
    <table>
{%endblock%}
{%block fotter%}
{%endblock%}